@import url(/style.scss);
:root{
    --marginLeft:1rem;
}
nav{
    position: absolute;
     background: var(--base);
     box-shadow: 0rem -10px 20px 10px rgba(0, 0, 0, 0.1);
}

#EventPageMain{
    position: relative;
    top: 5rem;
    width: 100vw;
    display: grid;



    gap: 1rem;


       #bodyText{
            margin-left: var(--marginLeft);

            min-height: 100vh;
            font-size: 1em ;
            font-weight: 400;
            width: 60vw;
    }


    h1{
        
        margin-left: var(--marginLeft);

        width: 95%;
        font-size: 4em ;
        font-weight: 800;
        line-height: .8em;

        .Subname{
            color: var(--accent);
            font-size: .8em ;
        font-weight: 500;
        }

    } 

    #MainImage{
        margin-left: var(--marginLeft);
        align-self: flex-start;
          width:95%;
       height: 70vh;
        object-fit: cover;
        object-position:top;
        transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
    }

    #MainImage{
        // background-image: url("/media/Img/Events/Inaugural/IMG_9102-768x512.jpg");

 
        // background-attachment: fixed;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
  
    }
    img{
        margin-top: .1rem;
        // margin-bottom: 3rem;
        align-self: flex-start;
        width:95%;
     height: 70vh;
 
      object-fit: cover;
      transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275); 
    }

    #mainContent{
        font-size: 1.1em;
        display: flex;
        width: 100vw;
      padding-bottom: 10rem;
  
        // background: orangered;
   
    }
    @media (min-width:501px) {
        #feed{
 

            display: flex;
            flex-direction: column;
            gap: 4px;
            height: 100%;
            width: 35vw;
            // background: red;
        }
        .feedItem{

            font-size: min(1.9vw,1.9vh);
            width: 85%;
            p{  
                font-size: 1.2em;
             
            }
     
    
        }
    }
    .feedItem{
        padding: .8rem;

        border: 1px solid rgba(194, 194, 194, 0.064);
        cursor:default;
        align-self: end;
        display: flex;
        flex-direction: column;
        background: var(--base);
        border-radius: var(--radius);
        transition: background-color .5s;
        p{  

            display: none;
            opacity: 0;
            width: 100%;
            transition:  .4s ;
        }
        a{
            display: none;
            text-decoration: none;
            color: var(--accent);
        }
        &:hover{
            background:var(--accent2);
        }

    }

 
    .open{

            p,a{
                // height:16em 
                width: 90%;
                font-weight: 200;
                display: block;
                opacity: 1;
            }
            a{
                transition: .2s;
                font-weight: 700;
                &:hover{
                    color: var(--accent2);
                }
            }
            &:hover{
                background: var(--base);
            }
    }
}


@media (max-width:500px) {
    #mainContent{
        flex-direction: column ;
    }
    :root{
        --marginLeft:.3rem;
    }
    
    #feed{

        display: grid;
        // flex-direction: column;
        place-items: center;
        gap: 4px;
        // height: 100%;
        width: 100vw;
        padding-top: 2rem;
        // background: red;
    }
    .feedItem{
        width: 92% !important;
        font-size: .8em;
        
    }
    #bodyText{
        width: 100vw !important;
    }
}
  


 







// <section id="EventPage-main">
// <section id="Text">
//     <h1>DBCE ACM Student Chapter  Organizes Poster Making Competition</h1>
//     <p>Don Bosco College of Engineering under  DBCE ACM student chapter  organized Poster Making Competition for students of Government High School, Balli Goa under senior(Standard VIII-X) and junior category (Standard V-VII) on 24th September 2022. The topic for poster competition was “Technologies for rural livelihood”. Ms.Alpa Dessai, the headmistress  of Government High School, Balli, welcomed the ACM team: Dr. Gaurang Patkar, Prof. Sweta Morajkar & DBCE ACM student members Mr. Pratham Shah and Ms. Gauravi Kamat & appreciated them for taking this initiative that will make students work & bring the best out of them. The event received a good response with the active participation of students. Students were creative enough to highlight the technologies for rural livelihood. After putting in a lot of efforts, students were appreciated and felicitated for the beautiful posters made with the prizes under each category.
//     </p>
//         </section>

//         <section id="Images">
    //         <img src="../../media/Img/Events/Bali1.jpg" alt="">
//         <img src="../../media/Img/Events/Bali1.jpg" alt="">
//         <img src="../../media/Img/Events/Bali1.jpg" alt="">
//         </section>

// </section>