@import url(/style.scss);
:root {
  --marginLeft:1rem;
}

nav {
  position: absolute;
  background: var(--base);
  box-shadow: 0rem -10px 20px 10px rgba(0, 0, 0, 0.1);
}

#EventPageMain {
  position: relative;
  top: 5rem;
  width: 100vw;
  display: grid;
  gap: 1rem;
}
#EventPageMain #bodyText {
  margin-left: var(--marginLeft);
  min-height: 100vh;
  font-size: 1em;
  font-weight: 400;
  width: 60vw;
}
#EventPageMain h1 {
  margin-left: var(--marginLeft);
  width: 95%;
  font-size: 4em;
  font-weight: 800;
  line-height: 0.8em;
}
#EventPageMain h1 .Subname {
  color: var(--accent);
  font-size: 0.8em;
  font-weight: 500;
}
#EventPageMain #MainImage {
  margin-left: var(--marginLeft);
  align-self: flex-start;
  width: 95%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#EventPageMain img {
  margin-top: 0.1rem;
  align-self: flex-start;
  width: 95%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#EventPageMain #mainContent {
  font-size: 1.1em;
  display: flex;
  width: 100vw;
  padding-bottom: 10rem;
}
@media (min-width: 501px) {
  #EventPageMain #feed {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100%;
    width: 35vw;
  }
  #EventPageMain .feedItem {
    font-size: min(1.9vw, 1.9vh);
    width: 85%;
  }
  #EventPageMain .feedItem p {
    font-size: 1.2em;
  }
}
#EventPageMain .feedItem {
  padding: 0.8rem;
  border: 1px solid rgba(194, 194, 194, 0.064);
  cursor: default;
  align-self: end;
  display: flex;
  flex-direction: column;
  background: var(--base);
  border-radius: var(--radius);
  transition: background-color 0.5s;
}
#EventPageMain .feedItem p {
  display: none;
  opacity: 0;
  width: 100%;
  transition: 0.4s;
}
#EventPageMain .feedItem a {
  display: none;
  text-decoration: none;
  color: var(--accent);
}
#EventPageMain .feedItem:hover {
  background: var(--accent2);
}
#EventPageMain .open p, #EventPageMain .open a {
  width: 90%;
  font-weight: 200;
  display: block;
  opacity: 1;
}
#EventPageMain .open a {
  transition: 0.2s;
  font-weight: 700;
}
#EventPageMain .open a:hover {
  color: var(--accent2);
}
#EventPageMain .open:hover {
  background: var(--base);
}

@media (max-width: 500px) {
  #mainContent {
    flex-direction: column;
  }
  :root {
    --marginLeft:.3rem;
  }
  #feed {
    display: grid;
    place-items: center;
    gap: 4px;
    width: 100vw;
    padding-top: 2rem;
  }
  .feedItem {
    width: 92% !important;
    font-size: 0.8em;
  }
  #bodyText {
    width: 100vw !important;
  }
}