@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Exo 2", sans-serif;
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth;
}

.hero {
  background: linear-gradient(to bottom, rgb(32, 32, 32), black);
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  justify-content: space-between;
  gap: 1vw;
}
.hero .headText {
  font-size: 10vw;
  width: 2.5vw;
  color: aliceblue;
}

.upcoming {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(244, 255, 83);
  border-radius: 2vw;
  font-size: 3vw;
  padding: 1vw;
  flex-direction: column;
}
.upcoming a {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 1vw;
  background: rgb(0, 0, 0);
  border-radius: 1vw;
  border: none;
  text-decoration: none;
}
.upcoming a:hover {
  background-color: rgb(32, 32, 32);
}

.intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-size: 4vw;
}

nav {
  background: rgb(20, 20, 20);
  position: fixed;
  width: 100vw;
  z-index: 10;
  padding: 1vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1vw;
}
nav a {
  text-decoration: none;
  color: aliceblue;
  height: 6vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 1vw;
  padding-inline: 1vw;
  font-size: 1.4em;
  background: rgb(3, 3, 3);
  border-radius: 2vh;
  transition: background-color 0.2s;
}
nav a:hover {
  background-color: rgb(27, 27, 27);
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding-block: 10vw;
}
.news-container .news-card {
  padding-top: 2vh;
  padding-bottom: 8vh;
  width: 40vh;
  border-radius: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  transition: transform 0.5s;
}
.news-container .news-card:hover {
  transform: translate(-0.5vh, -1vh);
}
.news-container .news-card a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: #000;
  margin-top: 2vw;
  padding: 1vw;
  border-radius: 1vw;
}
.news-container .news-card a:hover {
  background-color: rgb(54, 54, 54);
}

.news-card:nth-child(1) {
  background-color: hsl(70deg, 40%, 80%);
}

.news-card:nth-child(2) {
  background-color: hsl(239deg, 61%, 80%);
}

.news-card:nth-child(3) {
  background-color: hsl(95deg, 25%, 80%);
}

.news-card:nth-child(4) {
  background-color: hsl(188deg, 6%, 80%);
}

.news-card:nth-child(5) {
  background-color: hsl(254deg, 71%, 80%);
}

.news-card:nth-child(6) {
  background-color: hsl(124deg, 9%, 80%);
}

.news-card:nth-child(7) {
  background-color: hsl(325deg, 17%, 80%);
}

.news-card:nth-child(8) {
  background-color: hsl(143deg, 57%, 80%);
}

.news-card:nth-child(9) {
  background-color: hsl(209deg, 79%, 80%);
}

.news-card:nth-child(10) {
  background-color: hsl(30deg, 82%, 80%);
}

.news-card:nth-child(11) {
  background-color: hsl(170deg, 1%, 80%);
}

.news-card:nth-child(12) {
  background-color: hsl(274deg, 85%, 80%);
}

.news-card:nth-child(13) {
  background-color: hsl(330deg, 37%, 80%);
}

.news-card:nth-child(14) {
  background-color: hsl(234deg, 81%, 80%);
}

.news-card:nth-child(15) {
  background-color: hsl(28deg, 17%, 80%);
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  min-height: 100vh;
}
.gallery .Slides img {
  border-radius: 5vh;
  max-width: 80vw;
  max-height: 80vh;
}

.team {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  gap: 2vw;
}
.team .member {
  background: rgb(205, 97, 255);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5vh;
  padding: 2vw;
}
.team .member img {
  height: 30vw;
  width: auto;
  border-radius: inherit;
}

.video {
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.video video {
  max-width: 100vw;
}

.changeVid {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0%;
  right: 0;
}/*# sourceMappingURL=index.css.map */