@import url(./style.scss);
@media (max-width: 500px) {
  nav {
    position: absolute;
    background: var(--base);
  }
  #imgControl {
    display: none !important;
  }
  #Hero img {
    width: 95%;
    height: 50%;
    -o-object-position: 50% 10%;
       object-position: 50% 10%;
  }
  .card {
    background-color: transparent;
  }
  .cardBorder {
    background-color: transparent;
    border-radius: 4px;
    width: 97vw;
  }
  .cardBorder::before, .cardBorder::after {
    background: none;
  }
  #info p {
    font-size: 0.8em;
  }
  #announcments {
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    margin-top: 1rem;
    position: relative;
    padding-bottom: 20vh;
    width: 100vw;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #announcments .cardBorder {
    scroll-snap-align: center;
    border: none;
    border-top: rgb(255, 255, 255) solid 2px;
    -o-border-image: linear-gradient(to left, rgba(149, 0, 255, 0.275), rgba(255, 0, 89, 0.334)) 20;
       border-image: linear-gradient(to left, rgba(149, 0, 255, 0.275), rgba(255, 0, 89, 0.334)) 20;
  }
  #EventReports {
    gap: 1rem !important;
  }
  #announcement {
    display: grid;
    grid-template-rows: 5.5em 2.5em 70%;
    height: 90vh;
    aspect-ratio: 9/20;
    padding: 1.2rem;
  }
  #announcement .presenter {
    font-weight: 300;
    font-size: 0.5em;
    color: var(--secondary);
  }
  #announcement .presenter::before {
    content: "\a";
    white-space: pre;
  }
  #announcement #Title {
    line-height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    font-size: 10vw;
    white-space: nowrap;
  }
  #announcement #Timing {
    position: relative;
    font-size: 1.5em;
    font-weight: 400;
    color: var(--accent);
  }
  #announcement #Description {
    font-size: 1.3em;
  }
  #announcement #Buttons {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #announcement #Buttons a {
    font-weight: 400;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2.8rem;
    border-radius: var(--radius);
    width: 48%;
    border: var(--secondary) solid 0.3vh;
    text-decoration: none;
    color: var(--tertiary);
    transition: background-color 0.4s;
  }
  #announcement #Buttons a:hover {
    background: var(--accent);
  }
  .event {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .event:hover {
    transform: translateY(0rem);
    scale: 1;
  }
  .event:hover .textShadow {
    background: rgba(0, 0, 0, 0);
  }
  #Buttons a {
    border: 1px solid rgba(140, 140, 140, 0.473) !important;
  }
  #footer {
    height: 80vh;
    box-shadow: 0rem 0rem 10rem 5rem rgba(0, 0, 0, 0.147);
  }
  #footer h1 {
    padding-left: 1rem;
    font-size: 2em;
  }
  #footer li {
    text-indent: 0rem;
    list-style: none;
  }
  #footer #FooterListITEMS {
    height: 90%;
    padding-left: 1rem;
    display: grid;
    grid-template-areas: "a a a" "b b b";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 3fr;
  }
  #footer iframe {
    grid-area: b;
    height: 96%;
    width: 95%;
  }
  #CoreCommittee {
    min-height: 100vw;
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #CoreCommittee .Person {
    position: relative;
    border-radius: 0;
    width: 42vw;
    height: 58vw;
    display: block;
    text-align: center;
    background: var(--base);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  #CoreCommittee .Person:hover {
    scale: 1;
  }
  #CoreCommittee .Person:hover img {
    scale: 1;
  }
  #CoreCommittee h4 {
    font-weight: 400;
    color: #828282;
  }
  #CoreCommittee h2, #CoreCommittee h4 {
    text-indent: 0rem;
  }
  #CoreCommittee h2 {
    font-size: 4vw;
  }
  #CoreCommittee img {
    width: inherit;
    height: inherit;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  #CoreCommittee .PersonImageOverFlow {
    overflow: hidden;
    width: inherit;
    height: 40vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}