
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    &::-webkit-scrollbar{
        display: none;
    }
    
    
}
:root{
   
    --radius:2vw;
    --base:rgb(255, 255, 255);
    --secondary:gray;
    --tertiary:#111111;
    --accent:rgb(1, 81, 255);
    --heading:white;
    --next:rgb(21, 21, 178);

    
}
.dark{
    --radius:2vw;
    --base:#010101;
    --secondary:rgb(70, 70, 70);
    --tertiary:#ffffff;
    --accent:rgb(255, 1, 98);
    --heading:white;
    --next:rgb(30, 163, 25);

  
}
.other{
    --radius:2vw;
    --base:rgb(1, 25, 7);
    --secondary:rgb(70, 70, 70);
    --tertiary:#ffffff;
    --accent:rgb(69, 255, 1);
    --heading:white;
    --next:rgb(251, 166, 47);

}

.material-symbols-outlined {
    transition: color .4s;
    &:hover{
        color: var(--next);
    }
    
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 10,
    'opsz' 48
  }
body{
    scroll-behavior: smooth;
    transition: color .5s,background-color .5s;
    color: var(--tertiary);
    background: var(--base);
    font-family: 'Titillium Web', sans-serif;
}
#nav{
h1{
    font-family: 'Museomoderno';

    margin-right: auto;
    margin-left: 1vh;
    font-size: 1.3em;
    font-weight: 600;
    color: var(--accent);
}
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
position: fixed;
z-index: 100;
 
    display: flex;
    width: 100%;
    height: 3em;
    align-items: center;
    justify-content: flex-end;
    gap: 2vh;
    a,H8{
        margin-right: 1vh;
        text-decoration: none;
        font-size: 1.3em;
        color: var(--tertiary);
        padding:.5vw;
        transition: color .7s;
        &:hover{
            color: var(--accent);
        }
    }

}
.ani1{
    animation: ani1 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    @keyframes ani1 {
        0%{
            
            opacity: 0;
        }
        50%,60%{
            opacity: 1;
        }
        100%{
            opacity: 0;
           
        }
    }
}
#Hero{
    
line-height: 6.5em;
height: 100vh;
max-width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

h1{
    padding: 1.7vh;
    font-size: 10em;

    
    font-family: 'Righteous', cursive;

color: var(--base);
    text-align: center;
    z-index: 10;

    span{
        transition: color .4s;
        color: var(--accent);
    
        font-size: .6em;
        z-index: 10;
    
    
    }
}

img{
 
    position: absolute;
    z-index: 1;

    width: 95%;
    height: 80%;
    object-fit: cover;

    border-radius: var(--radius);
}
}
#loadingDisp{
    font-family: 'Museomoderno';
    color: #ffffff;
    font-size: 4em;
    
}

#info{
    
    position: relative;
    padding-bottom: 50vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        backdrop-filter: blur(50px);

        width: 90vw;
        //background: var(--secondary);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: var(--radius);
        border: var(--secondary) solid .3vh;

        min-height: 50vh;
        font-size: 2.2em !important;
      padding-left: vw;
    }
}

.rotate{
    animation: rot 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}
#announcments{
    
    position: relative;
   padding-bottom: 20vh;
    width: 100vw;
    display: flex;
    gap: 5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#announcement{

display: flex;
flex-direction: column;
justify-content: space-around;
  
    border-radius: var(--radius);
    border: var(--secondary) solid .3vh;


    width: 80vw;
    min-height:45vw ;
    padding: 2vw;

    #Title{
        font-size: 7vw;
    }
    #Timing{


        position: relative;

        font-size: 3vw;
        font-weight: 400;
        color: var(--accent);
    }
    #Description{
        font-size: 3vw;
    }
    #Buttons{
    position: relative;

    width: 100%;
    display: flex;
    justify-content: space-between;
        a{
    
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 2.4em;
            border-radius: var(--radius);
            width: 48%;
            border: var(--secondary) solid .3vh;          text-decoration: none;
          color: var(--tertiary);
          transition: background-color .4s;
          &:hover{
            background: var(--accent);
          }
        }
    }
}

#about{
    backdrop-filter: blur(150px);
    border: var(--secondary) solid .2vh;
    position: absolute;
    top: 0; 
    left: 0;
    border-radius: 0vh 0vh 10vh 0vh;
    padding: 2vh;
    //background: var(--base);
    max-height: 150vh;
    overflow-y: scroll;
    width: 0vw;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    #aboutInside{

      width: 90%;
        height: 85vh;
 
    }
    #Members{

        padding: 2vw;
     display: flex;
        
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1vw;
        img{
            transition: all .2s;
            width: 30vh;
            height: 30vh;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}
.visible{
  


width: 60vw !important;
z-index: 10;
box-shadow: -2vh 0vh 8vh rgba(0, 0, 0, 0.2);


}
.invisible{
    color: rgba(255, 255, 255, 0);
    position: fixed;
top: 0;
left: 0;

width: 0vw !important;
z-index: 10;
box-shadow: -2vh 0vh 8vh rgba(0, 0, 0, 0.2);
opacity: 0;
img{

    border-radius: 0% !important;

}
}
