
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    &::-webkit-scrollbar{
        display: none;
    }
    
    
}
:root{
   
    --radius:2vw;
    --base:rgb(255, 255, 255);
    --secondary:gray;
    --tertiary:#111111;
    --accent:rgb(1, 81, 255);
    
}
.dark{
    --radius:2vw;
    --base:#000000;
    --secondary:rgb(70, 70, 70);
    --tertiary:#ffffff;
    --accent:rgb(255, 1, 98);
  
}
.other{
    --radius:2vw;
    --base:hsl(140, 100%, .8%);
    --secondary:rgb(70, 70, 70);
    --tertiary:#ffffff;
    --accent:rgb(69, 255, 1);
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 10,
    'opsz' 48
  }
body{
    scroll-behavior: smooth;
    transition: color .5s,background-color .5s;
    color: var(--tertiary);
    background: var(--base);
    font-family: 'Titillium Web', sans-serif;
}
#nav{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
position: fixed;
z-index: 100;
   background: var(--base);
    display: flex;
    width: 100%;
    height: 3em;
    align-items: center;
    justify-content: flex-end;
    gap: 2vh;
    a{
        text-decoration: none;
        font-size: 1.3em;
        color: var(--tertiary);
        padding:.5vw;
        transition: color .7s;
        &:hover{
            color: var(--accent);
        }
    }

}
#Hero{
    
line-height: 6.5em;
height: 100vh;
max-width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

h1{
    font-family: 'Righteous', cursive;
    color:var(--base);
    font-size: 10em;
    text-align: center;
    z-index: 10;
    span{
     color:var(--accent);
    
        font-size: .6em;
        z-index: 10;
    
    
    }
}

img{
 
    position: absolute;
    z-index: 1;

    width: 95%;
    height: 80%;
    object-fit: cover;

    border-radius: var(--radius);
}
}

#about{
    
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 20vw;
    width: 90vw;
    //background: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: var(--radius);
    border: var(--secondary) solid .3vh;
    font-size: 2vw;
}
.rotate{
    animation: rot 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}
#announcments{

    width: 100vw;
    display: flex;
    gap: 5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#announcement{

display: flex;
flex-direction: column;
justify-content: space-around;
  
    border-radius: var(--radius);
    border: var(--secondary) solid .3vh;


    width: 80vw;
    min-height:45vw ;
    padding: 2vw;

    #Title{
        font-size: 7vw;
    }
    #Timing{
        font-size: 3vw;
        color: var(--accent);
    }
    #Description{
        font-size: 3vw;
    }
    #Buttons{
    position: relative;

    width: 100%;
    display: flex;
    justify-content: space-between;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 2.4em;
            border-radius: var(--radius);
            width: 48%;
            border: var(--secondary) solid .3vh;          text-decoration: none;
          color: var(--tertiary);
          transition: background-color .4s;
          &:hover{
            background: var(--accent);
          }
        }
    }
}