@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
  margin: 0%;
  padding: 0%;
}
*::-webkit-scrollbar {
  display: none;
}

:root {
  --text:rgb(255, 255, 255);
  --borderBg:linear-gradient(to right, rgba(230, 2, 143, 0.623), rgba(20, 5, 101, 0.832));
  --background:#080808;
  --base:#040404;
  --secondary:rgb(70, 70, 70);
  --tertiary:#ffffff;
  --accent:rgb(255, 72, 121);
  --accent2:rgb(255, 124, 72);
  --accentText:rgb(255, 0, 98);
  --heading:white;
  --next:rgb(16, 106, 249);
}

.light {
  --borderBg:linear-gradient(to right, rgb(14, 193, 252), rgba(255, 108, 172, 0.95));
  --background:radial-gradient(circle,rgba(108, 183, 230, 0.62),rgba(239, 202, 255, 0.324));
  --base:rgb(255, 255, 255);
  --secondary:gray;
  --text:rgb(0, 0, 0);
  --tertiary:#111111;
  --accent:rgb(16, 106, 249);
  --accent2:rgb(16, 249, 171);
  --heading:white;
  --next:rgb(21, 21, 178);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 1000, "GRAD" 10, "opsz" 48;
}

body {
  background-position: right top;
  scroll-behavior: smooth;
  transition: color 0.5s, background-color 0.5s;
  color: var(--tertiary);
  background: var(--background);
  font-family: "Titillium Web", sans-serif;
}

nav {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: flex-end;
}
nav span {
  transition: color 0.4s;
}
nav span:hover {
  color: var(--next);
}
nav a {
  text-decoration: none;
  font-family: "Museomoderno";
  margin-right: auto;
  margin-left: 2.5%;
  font-size: 2em;
  font-weight: 600;
  color: var(--accent);
}
nav #NavLinks {
  display: flex;
  gap: 2vh;
  margin-left: auto;
  margin-right: 2.5%;
}

.ani1 {
  -webkit-animation: ani1 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
          animation: ani1 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
@-webkit-keyframes ani1 {
  0% {
    opacity: 0;
  }
  50%, 60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ani1 {
  0% {
    opacity: 0;
  }
  50%, 60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#Hero {
  height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Hero h1 {
  padding: 1.7vh;
  font-size: 10em;
  font-family: "Righteous", cursive;
  color: var(--base);
  text-align: center;
  z-index: 10;
}
#Hero #imgControl {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 10;
}
#Hero #imgControl .cardBorder {
  display: grid;
  place-items: center;
}
#Hero #imgControl .controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  background: var(--base);
  width: 3rem;
  height: 3rem;
  text-align: center;
  transition: 300ms;
  cursor: default;
  z-index: 10;
}
#Hero #imgControl #back:hover {
  translate: -1rem;
}
#Hero #imgControl #forward:hover {
  translate: 1rem;
}
#Hero img {
  position: absolute;
  z-index: 1;
  width: 95%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}

#info {
  font-weight: 100;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#info h1 {
  font-weight: 700;
}
#info .card {
  padding: 1rem;
  z-index: 1;
  border-radius: var(--radius);
  width: 80vw;
  display: grid;
  grid-template-rows: 2.5em;
  text-align: center;
  font-size: 2.2em !important;
}

.card {
  border: var(--secondary) solid 0.3vh;
  border-radius: var(--radius);
  border: transparent solid 2px;
}

.presenter {
  font-weight: 300;
  font-size: 0.5em;
  color: var(--secondary);
}
.presenter::before {
  content: " -";
}

.cardBorder {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background: var(--base);
  background-clip: content-box; /* !importanté */
  border: solid 2px transparent; /* !importanté */
  border-radius: var(--radius);
}
.cardBorder:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: var(--borderBg);
}
.cardBorder:after {
  opacity: 10%;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: var(--borderBg);
  filter: blur(30px);
}

.rotate {
  -webkit-animation: rot 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
          animation: rot 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#announcments {
  margin-top: 5rem;
  position: relative;
  padding-bottom: 20vh;
  width: 100vw;
  display: flex;
  gap: 5vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar {
  background: #ffffff;
  width: 3.3rem;
  translate: 0 5px;
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: 0.5rem 2.5rem;
  place-items: center;
  font-weight: 700;
  border: 1px solid rgb(38, 38, 38);
}
.calendar .month {
  border-radius: var(--radius) var(--radius) 0 0;
  background: red;
  width: 100%;
  border: inherit;
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
}
.calendar .day {
  color: black;
  font-size: 1.2rem;
}

#announcement {
  display: grid;
  grid-template-rows: 6em 3em 70%;
  width: 45rem;
  aspect-ratio: 16/10;
  padding: 1.2rem;
}
#announcement #Title {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  font-size: 3.5em;
}
#announcement #Timing {
  position: relative;
  font-size: 1.5em;
  font-weight: 400;
  color: var(--accent);
}
#announcement #Description {
  font-size: 1.3em;
}
#announcement #Buttons {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#announcement #Buttons a {
  font-weight: 400;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 2.8rem;
  border-radius: var(--radius);
  width: 48%;
  border: var(--secondary) solid 0.3vh;
  text-decoration: none;
  color: var(--tertiary);
  transition: background-color 0.4s;
}
#announcement #Buttons a:hover {
  background: var(--accent);
}

.visible {
  top: 0rem !important;
}

.invisible {
  display: none !important;
  background: rgba(1, 1, 1, 0);
  color: rgba(255, 255, 255, 0);
  position: fixed;
  top: -100rem !important;
  z-index: 10;
  box-shadow: -2vh 0vh 8vh rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.invisible img {
  border-radius: 0% !important;
}

#EventReports {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  padding: 4rem;
  overflow-y: hidden;
  white-space: nowrap;
  overflow-x: auto;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  perspective: 8000px;
  flex-wrap: nowrap;
  gap: 2rem;
  margin-bottom: 13rem;
}

.SubTitle {
  text-align: center;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

@-webkit-keyframes scroll {
  0% {
    translate: 0vh;
  }
  100% {
    translate: -86rem;
  }
}

@keyframes scroll {
  0% {
    translate: 0vh;
  }
  100% {
    translate: -86rem;
  }
}
#EventContainer {
  display: flex;
  gap: 2rem;
  position: absolute;
  left: 0px;
  padding: 0 100px;
}

.event {
  scroll-snap-align: center;
  height: 30rem;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  border-radius: var(--radius);
  transition: 400ms ease;
  text-decoration: none;
}
.event .cardBorder {
  height: 30rem;
  width: 20rem;
  border-radius: inherit;
}
.event .cardBorder {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background-clip: content-box; /* !importanté */
  border: solid 2px transparent; /* !importanté */
  border-radius: var(--radius);
}
.event .cardBorder:before {
  background: none;
}
.event .cardBorder:after {
  opacity: 20%;
  background: linear-gradient(to right, rgb(0, 191, 255), rgb(67, 18, 246));
}
.event:hover {
  transform: translateY(-0.7rem);
  scale: 1.02;
}
.event:hover .textShadow {
  background: rgba(0, 0, 0, 0.362);
}
.event img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.event .textShadow {
  transition: 400ms;
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  overflow: hidden;
}
.event h1 {
  font-size: 1em;
  background: var(--base);
  box-shadow: 0rem 0rem 1rem 1.3rem var(--base);
  border-radius: 0 0 var(--radius) var(--radius);
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  color: var(--tertiary);
  position: absolute;
  text-indent: 1rem;
  z-index: 6;
  bottom: 0rem;
}

#BgGraph {
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: 2rem 2rem;
  background-image: linear-gradient(to right, rgba(128, 128, 128, 0.02) 1px, transparent 1px), linear-gradient(to bottom, rgba(128, 128, 128, 0.02) 1px, transparent 1px);
}

#footer {
  font-family: "Museomoderno";
  height: 80vh;
  font-weight: 300;
  box-shadow: 0rem 0rem 10rem 5rem rgba(0, 0, 0, 0.147);
}
#footer a {
  text-decoration: none;
  color: var(--accent);
  transition: color 0.3s;
}
#footer a:hover {
  color: var(--accent2);
}
#footer h1, #footer h3 {
  font-weight: 1000;
}
#footer h1 {
  padding-left: 1rem;
  font-size: 2em;
}
#footer li {
  text-indent: 0.3rem;
  list-style: none;
}
#footer #FooterListITEMS {
  height: 90%;
  padding-left: 1rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 40% 0.1fr;
  grid-template-rows: 5fr 0.1fr;
}
#footer iframe {
  filter: invert(1);
  height: 100%;
  width: 100%;
}