
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    &::-webkit-scrollbar{
        display: none;
    }
    
    
}
.highlight{

    color: var(--accent);
&::selection{
    background: var(--text);
    color:var(--base);
}

}

::selection{
    background: var(--accent3);
 
}
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v75/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
  }
  
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  
:root{
    --radius:.5rem;
    
    --text:rgb(255, 255, 255);
    --borderBg:linear-gradient(to right,  rgba(230, 2, 143, 0.623), rgba(20, 5, 101, 0.832));

    // --background:radial-gradient(circle at top,rgb(41, 0, 7),#040404);
    --background:#080808;
    --base:#040404;
    --secondary:rgb(70, 70, 70);
    --tertiary:#ffffff;
    --accent:rgb(255, 72, 121);
    --accent2:rgb(255, 124, 72);
    --accent3:rgba(255, 24, 236, 0.714);
    --accentText:rgb(255, 0, 98);
    
    --heading:white;
    --next:rgb(16, 106, 249);

    --Register:var(--accent);
    --ReadMore:rgb(77, 250, 184);
    
}
.light{


    --borderBg:linear-gradient(to right,  rgb(14, 193, 252), rgba(255, 108, 172, 0.95));
    --background:radial-gradient(circle,rgba(108, 183, 230, 0.62),rgba(239, 202, 255, 0.324));
    // --background:rgba(24, 17, 2, 0.62);
    --base:rgb(255, 255, 255);
    --secondary:gray;
    --text:rgb(0, 0, 0);
    --tertiary:#111111;
    --accent:rgb(16, 106, 249);
    --accent2:rgb(16, 249, 171);
    --accent3:rgba(60, 31, 250, 0.714);

    --heading:white;
    --next:rgb(21, 21, 178);


    --Register:var(--accent);
    --ReadMore:rgb(251, 106, 176);

  
}


.material-symbols-outlined {
  
    
    font-variation-settings:
    'FILL' 1,
    'wght' 1000,
    'GRAD' 10,
    'opsz' 48
  }
body{
 
    background-position: right top;
    scroll-behavior: smooth;
    transition: color .5s,background-color .5s;
    color: var(--tertiary);
    background: var(--background);
    font-family: 'Titillium Web', sans-serif;
}
nav{
span{
    transition: color .4s;
    &:hover{
        color: var(--next);
    }
}
user-select: none; 
position: fixed;
z-index: 2;

display: flex;
width: 100%;
height: 4rem;
align-items: center;
justify-content: flex-end;


a{
    text-decoration: none;
    font-family: 'Museomoderno';

    margin-right: auto;
    margin-left: 2.5%;
    font-size: 2em;
    font-weight: 600;
    color: var(--accent);
}


#NavLinks{
    display: flex;
    gap: 2vh;
    margin-left: auto;
    margin-right: 2.5%;
}

}
.ani1{
    animation: ani1 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    @keyframes ani1 {
        0%{
            
            opacity: 0;
        }
        50%,60%{
            opacity: 1;
        }
        100%{
            opacity: 0;
           
        }
    }
}
#Hero{
    
user-select: none;
height: 100vh;
max-width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

h1{
    padding: 1.7vh;
    font-size: 10em;

    
    font-family: 'Righteous', cursive;

color: var(--base);
    text-align: center;
    z-index: 10;

  
}
#imgControl{
    user-select: none;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
  
z-index: 10;
    .cardBorder{
    display: grid;
    place-items: center;
    }
.controls{
position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
    border-radius: 1.5rem;
    background: var(--base);
    width: 3rem;
    height: 3rem;
    text-align: center;
    transition: 300ms ;
    cursor: default;



    z-index: 10;



 
    
}

#back:hover{

translate: -.5rem;
color: var(--base);
background: var(--accent);

}
#forward:hover{
    translate: .5rem;
    color: var(--base);
background: var(--accent);

  
}
}

img{
 
    position: absolute;
    z-index: 1;

    width: 95%;
    height: 80%;
    object-fit:contain;

    // border-radius: var(--radius);
}
}


#info{
    

   h1{
    font-weight: 700;
   }
   font-weight: 100;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        padding: 1rem;
        z-index: 1;

        border-radius: var(--radius);
            width: 80vw;

        //background: var(--secondary);
        display: grid;;
        grid-template-rows: 2.5em;
        text-align: center;


    
        font-size: 2.2em !important;
    
    }
  
}
.card{


    border: var(--secondary) solid .3vh;
    border-radius: var(--radius);
    border: transparent solid 2px;


   

}
.presenter{
    font-weight: 300;
    font-size: .5em;
    color: var(--secondary);
    &::before{
        content: ' -';
    }
    &::selection{

        color: var(--text);
    }
}
.cardBorder{
    display: flex;
    align-items: center;

  
    position: relative;

    box-sizing: border-box;
  
    $border: 2px;
   
    background: var(--base);
    background-clip: content-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: var(--radius);
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background:  var( --borderBg);


      
    }
    &:after {
        opacity: 10%;
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -$border; /* !importanté */
        border-radius: inherit; /* !importanté */
        background:  var( --borderBg);
        filter: blur(30px);
      }

}

.rotate{
    animation: rot 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}
#announcments{
    margin-top: 5rem;
    position: relative;
   padding-bottom: 20vh;
    width: 100vw;
    display: flex;
    gap: 5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.calendar{
    background: #ffffff;
    width: 3.3rem;
 translate: 0 5px;
 border-radius: var(--radius);
 display:grid;
 grid-template-rows:.5rem 2.5rem ;
 place-items: center;
 font-weight: 700;
 border: 1px solid rgb(38, 38, 38);
 .month{
    border-radius: var(--radius) var(--radius) 0 0;
    background: red;
    width: 100%;
    border: inherit;
    text-align: center;
  color: #ffffff;
    font-size: 1rem
 }
 .day{
   
    color:black;
    font-size:1.2rem
 }

}
#announcement{

// display: flex;
// flex-direction: column;
// justify-content: space-around;
display: grid;
 grid-template-rows: 6em 3em 70% ;

  
 
  


    width: min(88vw,45rem);
    aspect-ratio: 16/10;

    padding: 1.2rem;

    #Title{

        display: flex;
        align-items: center;
        justify-content: left;
        gap: 1rem;
     
        font-size: 3.5em;
  
    }
    #Timing{


        position: relative;

        font-size: 1.5em;
        font-weight: 400;
        color: var(--accent);
    }
    #Description{
        font-size: 1.3em;
    }
    #Buttons{
    position: relative;

    width: 100%;
    display: flex;
    justify-content: space-between;
        a{  font-weight: 400;
            font-size: 1.3em;
    
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 2.8rem;
            border-radius: var(--radius);
            width: 48%;
            border: var(--secondary) solid .3vh;          text-decoration: none;
          color: var(--tertiary);
          transition: background-color .4s;
         
       
      
         
        }
        .RegisterButton:hover{
            background: var(--Register);

        }
        .ReadMoreButton:hover{
            background: var(--ReadMore);

        }
    }
}


.visible{
  


    top: 0rem !important;


}
.invisible{
    display: none !important;

    background: #01010100;
    color: rgba(255, 255, 255, 0);
    position: fixed;
top: -100rem !important;


z-index: 10;
box-shadow: -2vh 0vh 8vh rgba(0, 0, 0, 0.2);
opacity: 0;
img{

    border-radius: 0% !important;

}
}



#EventReports{
    scroll-snap-type: x  mandatory;

 padding: 4rem;
    overflow-y: hidden;
    white-space: nowrap;
    overflow-x: auto;
    height: 80vh;
    display: flex;
    justify-content: flex-start;

    perspective: 8000px;
    flex-wrap: nowrap;
    gap: 2rem;

margin-bottom: 13rem;
}
.SubTitle{
    text-align: center;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;

}
@keyframes scroll {
    0%{
        translate: 0vh;
    }
    100%{
        translate: -86rem;
    }
}
#EventContainer
{
display: flex;
gap: 2rem;
position: absolute;

left: 0px;



padding: 0 100px;
}

.event{
    scroll-snap-align: center;

    //background: red;
    height: 30rem;
    user-select: none !important;
    border-radius: var(--radius);
    .cardBorder{
      height: 30rem;
    width: 20rem;  
    border-radius: inherit;

   
    }

    .cardBorder{
        display: flex;
        align-items: center;
    
      
        position: relative;
    
        box-sizing: border-box;
      
        $border: 2px;
       
        //background: var(--base);
        background-clip: content-box; /* !importanté */
        border: solid $border transparent; /* !importanté */
        border-radius: var(--radius);
      
        &:before {
      
          background:none;
         // background:linear-gradient(to right,  rgba(14, 192, 252, 0.391), rgba(67, 18, 246, 0.273));
    
          
        }
        &:after {
        opacity: 20%;
            background:  linear-gradient(to right,  rgb(0, 191, 255), rgb(67, 18, 246));
           
          }
    
    }

    transition: 400ms ease;
    &:hover{
      transform: translateY(-.7rem);
  scale: 1.02;
      
       .textShadow{
        background: rgba(0, 0, 0, 0.362);
       }
    }
    


text-decoration: none;


    img{
        border-radius: inherit;
        height: 100%;
        width: 100%;
       
        object-fit: cover;
    

    }
    .textShadow{
        transition: 400ms;
        position: absolute;
        z-index: 10000;
        width: 100%;
        height: 100%;
        border-radius: var(--radius);
   
        overflow: hidden;
    }
    
    h1{
        font-size: 1em;
       background: var(--base);
       box-shadow: 0rem 0rem 1rem  1.3rem var(--base);
     
        border-radius: 0 0 var(--radius) var(--radius);
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        color: var(--tertiary);
        position: absolute;
        text-indent: 1rem;
        z-index: 6;
        bottom: 0rem;
 
        
        
    }
}

#BgGraph{
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    
   
          background-size: 2rem 2rem;
          background-image:
          linear-gradient(to right, rgba(128, 128, 128, 0.02) 1px, transparent 1px),
          linear-gradient(to bottom, rgba(128, 128, 128, 0.02) 1px, transparent 1px);
  
        
      
}

#footer{
    position: relative;
    background: var(--base);
    font-family: 'Titillium Web', sans-serif;


    height: 80vh;
    font-weight: 300;
    // background: #040404;
    box-shadow: 0rem 0rem 10rem 5rem rgba(0, 0, 0, 0.147);
a{
    text-decoration: none;
    color: var(--accent);
    transition: color .3s;
    &:hover{
        color: var(--accent2);
    }
}

    h1,h3{
  font-family: 'Museomoderno';
  font-weight: 600;

    }
    h1{
        font-weight: 1000;
        height: 1.5em;
        padding-left: 1rem; 
        font-size: 2em;
    }
    li{
        // text-indent: .3rem;
        list-style: none;
    }
   
    #FooterListITEMS{
        // background: red;
        height: 90%;
        padding-left: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 40% .1fr;
        grid-template-rows: 5fr .1fr;
    }
    iframe{
        // filter: invert(1);

        height: 100%;
        width: 100%;
    }
}

#CoreCommittee{
    user-select: none;
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
   flex-wrap: wrap;

   
   .Person{
    position: relative;
    border-radius: var(--radius);
    overflow: hidden;
    width: 15rem;
    height: 24rem;
    display: block;
    // text-align: center;
  
    background: var(--base);
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover{
        scale: 1.04;
        img{

            scale: 1.05;
        }
    }
   }
   h4{
    font-weight: 400;
   

   }
   h2,h4{
    text-indent: .5rem;
   }
   h4{
    color: #828282;
   }
   img{


    
    width: inherit;
    height: 19rem;
    object-fit: cover;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    
   }
   .PersonImageOverFlow{
    overflow: hidden;
        width: 15rem;
        height: 19rem;
        object-fit: cover;
   }
}