@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

$theme1:rgb(244, 255, 83);
$count: 15;

@font-face {
    font-family: Traditional;
    src: url('../Fonts/Love\ Craft.otf');
}
*{
    //font-family: 'Traditional';
    font-family: 'Roboto', sans-serif;
    padding: 0%;
    margin: 0%;
    scroll-behavior:smooth;
}

body{
    background: #B1AFB1;
}



#Name{
    font-family: 'Traditional';
    font-size: 3em;
    z-index: 10;
    color: rgb(255, 255, 255);
    align-self: center;
    justify-self: center;
    position: fixed;
    letter-spacing: 2px;
    text-shadow: .5vh .5vh 0vh black;
}





.Main{
    z-index: 1;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    video{
        max-height: 100vh;
        
    }
}
.changeVid{

   position:absolute; 
   display: flex;
   flex-direction: column;
   bottom: 1%;
   right: 1%;
   gap: .2em;
   
   background:linear-gradient(to right top,rgb(145, 196, 255) ,rgb(104, 247, 239));
   padding: 4px;
   border-radius: 8px;
   
}
button{
    display: none;
    font-size: 1.2em;
    background: rgb(216, 216, 216);
    border-radius: 8px;
    //display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: .2em;
    border: none;
    width: 12em;
    
    transition: background-color .5s;
    &:hover{
        background: #ffffff;
    }

}

.disappear{
    transition: all .3s;
    opacity: 20%;
    &:hover{
        opacity: 100%;
    } 
}