:root {
  --borderBg:linear-gradient(to right, rgb(2, 107, 255), rgba(251, 251, 251, 0));
  --background:radial-gradient(circle,rgba(108, 183, 230, 0.781),rgb(250, 233, 217));
  --radius:.5rem;
  --base:rgb(255, 255, 255);
  --secondary:gray;
  --tertiary:#111111;
  --accent:rgb(16, 106, 249);
  --heading:white;
  --next:rgb(21, 21, 178);
}

.dark {
  --borderBg:linear-gradient(to right, rgba(230, 2, 143, 0.623), rgba(20, 5, 101, 0.832));
  --background:radial-gradient(circle,rgb(41, 0, 7),#040404);
  --base:#040404;
  --secondary:rgb(70, 70, 70);
  --tertiary:#ffffff;
  --accent:rgb(255, 1, 98);
  --heading:white;
  --next:rgb(16, 106, 249);
}

.preload {
  height: 100vh;
  width: 100vw;
  font-size: 2vw;
  font-weight: 10;
  text-align: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background: var(--base);
  color: var(--tertiary);
  transition: opacity 0.4s ease 1s;
  overflow: hidden;
}

#loadingDisp {
  z-index: inherit;
  font-family: "Museomoderno";
  color: var(--tertiary);
  font-size: 4em;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.lds-ripple {
  z-index: inherit;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid var(--tertiary);
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}